<html>
<head>
    <link href="~/Stylesheet.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h1>Time</h1>
        <h2>Person of the Year</h2>
    </header>

    <p1>Electronic Time Capsule.</p1> 
    <p2>Enter a year range to find out who Time's Person of the Year was from 1927-2016</p2>

    <form method="post">
        <label for="fromYear">From Year</label>
        <input maxlength="4" placeholder="YYYY" name="fromYear" />
   
        <label for="toYear">To Year</label>
        <input maxlength="4" placeholder="YYYY" name="toYear" />

        <button type="submit">Submit</button>
    </form>

</body>
</html>