<html>
<head>
    <link href="~/Stylesheet.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <label for="Year">From Year</label>
        <input id="year" name="year" />
    </form>

    <form method="post">
        <label for="Year">From Year</label>
        <input id="year" name="year" />
    </form>
</body>
</html>